# deps
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# payload
src/payload-types.ts

# database
*.db
*.db-journal

# uploads (media generated at runtime)
public/media/*
!public/media/.gitkeep

# misc
.DS_Store
*.log
public/wp-content/uploads/
